NET "xReset" LOC = P51 | IOSTANDARD = LVTTL;
NET "Input_SWx" LOC = P38 | IOSTANDARD = LVTTL;
NET "Clk_50MHz" LOC = P56 | IOSTANDARD = LVTTL;

NET "Output_LED<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "Output_LED<1>" LOC = P133 | IOSTANDARD = LVTTL;

NET "Monitor_LED" LOC = P131 | IOSTANDARD = LVTTL;